################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Pacman_VS2015/v16
/Debug
/Pacman/Debug
/Pacman/Debug/Pacman.tlog